@import 'styles/theme';

.gameCreation {
  &.container {
    margin-top: 10em;
    min-height: 300px;
    min-width: 450px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    text-align: left;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 25em;
    height: 22em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;

    // border-radius: 0.6em;
    // border-style: solid;
    // border-color: black;
    // background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    // box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  &.label {
    color: $textColor;
    margin-bottom: 8px;
    margin-top: 12px;
    font-weight: 500;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  // &.button-container:hover{
  //   box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  // }

  &.select {
    // font: 400 12px/1.3 sans-serif;
    // -webkit-appearance: none;
    // appearance: none;
    height: 38px;
    color: var(--baseFg);
    border: 1px solid black;
    cursor: pointer;
    padding: 0.5em 2em 0.5em 0.5em;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ebebeb;
      box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    }

  }

  &.inputName {
    height: 35px;
    padding-left: 15px;
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: $borderRadius;
    // margin-bottom: 20px;
    margin-top: 5px;
    background: #ebebeb;
    color: $textColor;
  }
  
  &.inputName:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    border: 1px solid black;
  }

}

