@import 'styles/theme';
// @import "~bootstrap/scss/bootstrap";

.gameView {
//  background: yellow;

  &.container {
    // background: yellow;
    padding: 1.5em;
    width: 100%;
    height: 100%;
  }

  &.main{
    width: 100%;
    // background: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &.blurryMain{
    width: 100%;
    // background: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 50%;
  }

  &.roundSection {
    // background-color: green;
    width: 100%;
    font-size:xx-large;
    // change font size of paragraphs inisde roundSection
    p {
      margin-top: 0.2em;
      margin-bottom: 0.3em;
      font-size: large;

    }
  }

  // MIDDLE BLACK CARD 
  &.blackCardSection {
    // background-color: lightcoral;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    opacity: 100%;

    // BLACK CARD: 
    .blackCard {
      min-width: 10em;
      max-width: 10em;
      min-height: 14em;
      max-height: 14em;
      font-size: 0.8em;
      word-wrap: break-word;
      padding: 5px;
      background-color: black;
      color: white;
      border-style: solid;
      border-color: white;
      border-width: 2px;
      transition:.2s all; 
      border-radius: 0.8rem;
      box-shadow: $dropShadowGame;
      position: relative;
      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        border: 2px solid black;
        transition: all .25s ease-out;
        border-radius: 0.8rem;
      }
      &::before {
        background-color: black;
        top: -15px;
        left: -15px;
      }
      &::after {
        bottom: -15px;
        right: -15px;
      }
      &:hover {
        &::before {
          top: 15px;
          left: 15px;
        }
        &::after {
          bottom: 15px;
          right: 15px;
        }
      }
    }
  }


  // OPPONENTS CARD DECKS 
  &.opponentSection {
    // background-color: red;
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & h2{
      transform: rotate(-45deg);
      margin: 3.5em 0em 1.5em 3.5em;
      margin-left: -100px;
      text-shadow: $dropShadowGame;
    }
    &.center {
      flex-basis: 100%;
      margin-bottom: .5em;
      // background-color: aqua;
    }

    &.tile{
      width: 5em;
      height: 7em;
      background-color: white;
      display: block;
      margin-top: 1em;
      margin-left: 2em;
      box-shadow: 2.5px -2.5px 0 -3px white, 2.5px -2.5px black,
            5px -5px 0 -3px white, 5px -5px black,
            7.5px -7.5px 0 -3px white, 7.5px -7.5px black;
      border-radius: 0.8rem;
      border-style: solid;
      border-color: black;
      border-width: 3px;
    }
  }

  &.roundWinnerSection {
    font-style: italic;
    color: darkgreen;
  }

  &.countdownSection {
    z-index: 1;
    font-size: 40px;
    position: absolute;
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    padding: 0px 20px;
    margin-top: 100px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);

    &.roundWinner {
      font-style: italic;
      color: darkgreen;
      font-size: 30px;
      background-color: white;
      border: solid black 5px;
      border-radius: 15px;
      padding: 0px 20px;
      // margin-top: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // animation: rotation 2s infinite linear alternate;

      // @keyframes rotation {
      //   from {
      //     transform: rotate(-10deg);
      //   }
      //   to {
      //     transform: rotate(10deg);
      //   }
      // }
    }
  }

  // SECTION WHERE cards for Card Czar and Normal player are 
  &.cardsSection{
    // background-color: teal;
    // height: 35VH;
    height: 100%;
    width: 100%;
    margin-top: 1VH;
    padding: .3em;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  // SECTION for Card Czar to pick his favourite choice 
  &.choiceSection {
    // background-color: aqua;
    padding: 0.1em;
    width: 25%;
    height: 100%;
    h2{
      margin: 0.1em;
    }

    &:hover .card{
      filter:blur(1px);
      opacity:.5;
      transform: scale(.90);
      box-shadow:none;
    }
    &:hover .card:hover{
      transform:scale(1);
      filter:blur(0px);
      opacity:1;
      box-shadow: $dropShadowGame;
    }

    .cards {
      display: flex;
      // background-color: rgb(88, 255, 171);
      flex-wrap: wrap;
      width: 100%;
      height: 80%;
      justify-content: center;
    }
    .cards>button{
      min-width: 8em;
      max-width: 8em;
      min-height: 12em;
      max-height: 12em;
      font-size: 0.8em;
      word-wrap: break-word;
      margin: 0.3em;
    }
  }


  // PLAYABLE CARDS ON HAND 
  &.handSection {
    // background-color: brown;
    // background: lighten($background, 5);
    // border-radius: $borderRadius;
    // box-shadow: $dropShadowGame;
    padding: 0.1em;
    margin-left: 0.1em;
    width: 80%;
    height: 100%;
    h2{
      margin: 0.2em;
    }
    .whiteCardSection {
      // background-color: rgb(255, 155, 255);
      padding: 0.1em;
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      &:hover .card{
        filter:blur(1px);
        opacity:.5;
        transform: scale(.90);
        box-shadow:none;
      }
      &:hover .card:hover{
        transform:scale(1);
        filter:blur(0px);
        opacity:1;
        box-shadow: 5px 5px 5px black;
      }
    }
    .whiteCardSection>button{
      min-width: 8em;
      max-width: 8em;
      min-height: 12em;
      max-height: 12em;
      font-size: 0.8em;
      word-wrap: break-word;
      margin: 0.2em;
    }
  }

  // Bottom buttons 
  &.bottomSection {
    // background-color: rgb(122, 122, 255);
    padding: 0.5em;
    width: 100%;
    height: 10VH;
    
    // for alignment of buttons 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}


// WHITE CARD: 
.card {
  cursor: pointer;
  // margin: 0.3em;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  transition:.2s all; 
  border-radius: 0.8rem;
  box-shadow: $dropShadowGame;
  // overflow-wrap: break-word;
  &.focused {
    background-color: rgb(221, 253, 221);
    border-color: rgb(49, 173, 49);
  }
}


.notActiveCard{
  padding: 5px;
  margin-left: 0.1em;
  margin-right: 0.1em;
  width: 30%;
  height: 120%;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  transition:.2s all; 
  border-radius: 0.8rem;
  box-shadow: $dropShadowGame;
}



.vibrate {
	-webkit-animation: vibrate 0.5s 2s 8 both;
	        animation: vibrate 0.5s 2s 8 both;
}
@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
