@import 'styles/theme';

.header {
  // background-color: lawngreen;
  
  &.container {
    padding-top: 10px;
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
    max-width: $DESKTOP_WIDTH;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @include center;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    // justify-content: flex-end;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
  }

  &.link {
    background-color: white;
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 80px;
  }

  // &.right {
  //   width: 70vw;
  //   padding-left: 35vw;
  //   background-color: black;
  // }
}