@import 'styles/theme';

.lobby {

  &.container {
    padding: 2em;
    width: 100%;
    height: 100%;
    // background: black;
  }
  &.main{
    width: 100%;
    // background: purple;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  // // FANCE FRAME part.1
  &.games:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    // box-shadow: 10px 10px rgba(0,0,0,.25);
  }
  &.games{
    // background: yellow;

    //FANCE FRAME part.2
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    // box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;


    width: 70VW;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;  
    // ISTEAD OF THE FANCY FRAME: 
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;

    .buttons{
      width: 60VW;
      // background-color: blue;
    }
  }
  &.games-list {
    list-style: none;
    padding-left: 0;
  }
  &.games-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2{
    margin: 0.5em 0;
  }
  & h2{
    margin: 0;
  }
}



.tableHeader {
  &.container {
    flex-direction: row;
    justify-content: center;
    height: 1VW;
    width: 60VW;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 900;
    // background: lighten($background, 5);
    // border-radius: $borderRadius;
    // background: yellow;
    // box-shadow: $dropShadow;
  }
  &.container > div{
    width: 50%;
    margin: 10px;
  } 
}


.game {
  &.container:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
    // transition: all 0.3s ease;
  }
  &.container {
    background: lighten($background, 5);
    flex-direction: row;
    box-shadow: $dropShadowGame;
    justify-content: center;
    margin: 0 0 1em;
    width: 60VW;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
  }
  &.container > div{
    width: 50%;
    margin: 10px;
  } 
  &.empty {
    width: 100%;
  }
}