@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;  
    // background: $background;
    // box-shadow: $dropShadow;
  }
  &.games-list {
    list-style: none;
    padding-left: 0;
  }
  &.games-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}


.tableHeader {
  &.container {
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 0;
    height: 1VW;
    width: 50VW;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 900;
    // background: lighten($background, 5);
    // border-radius: $borderRadius;
    // background: yellow;
    // box-shadow: $dropShadow;
  }
  &.container > div{
    width: 50%;
    margin: 10px;
  } 
}


.game {
  &.container:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
    // transition: all 0.3s ease;
  }
  &.container {
    background: lighten($background, 5);
    flex-direction: row;
    box-shadow: $dropShadowGame;
    justify-content: center;
    margin: 2em 0;
    width: 50VW;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
  }
  &.container > div{
    width: 50%;
    margin: 10px;
  } 
  &.empty {
    width: 100%;
  }
}