@import 'styles/theme';

.lobby {
  &.games{
    .buttons{
      width: 100%;
      // background-color: blue;
    }
  }

  &.games-list {
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
  &.games-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.game {
  &.container:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
    // transition: all 0.3s ease;
  }
  &.container {
    background: lighten($background, 5);
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 1em;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  &.container > div{
    width: 50%;
    margin: 10px;
  } 
  &.empty {
    width: 100%;
  }
  &.name{
    word-wrap: break-word;
    max-width: 15%;
  }
}

.tableHeader {
  &.name{
    max-width: 15%;
    margin: 10px;
  } 
}