@import 'styles/theme';
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.login {

  &.container {
    margin-top: 7em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    max-width: 30em;
    height: 22em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;

    // border-radius: 0.6em;
    // border-style: solid;
    // border-color: black;
    // background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    // box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  &.inputUsername {
    height: 60px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    background: #d6d6d6;
    color: $textColor;
  }
  &.inputUsername:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  }

  &.inputPassword{
    height: 60px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    background: #d6d6d6;
    color: $textColor;
  }
  &.inputPassword:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  }

  &.label {
    color: $textColor;
    margin-bottom: 8px;
    text-transform: lowercase;
    font-weight: 500;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  &.button-container:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  &.redirect-link {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    :link {
      color: rgb(28, 43, 250);
      text-decoration: none;
      font-weight: bold;
    }
    :visited {
      color: rgb(28, 43, 250);
    }
    :hover {
      text-decoration: underline;
    }
    :active {
      color: blue;
    }
  }

  // h2 {
  //   font-family: 'Pacifico', cursive;
  //   font-size: 20px;
  // }
}

