@import 'styles/theme';

.profile {
  &.instructions{
    min-height: 3em;
    // background-color: yellow;
    h4{
      margin: 0;
    }
  }
  &.tableContainer{
    // background-color: fuchsia;
    min-height: 15em;
  }
  // FORM STYLING 
  &.form{
    margin-top: 5em;
    padding: 0.2em;
    // background-color: red;
    // min-height: 25em;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;
    width: 60%;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.formTable{
    // background-color: blue;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    font-size: large;
    // padding: 0.5em;
    td{
      padding: 0.5em;
      text-shadow: $dropShadowGame;
    }
  }
  &.formField {
    // background-color: green;
    width: 100%;
    // text-align: center;
  }
  &.inputUsername {
    padding: 0.5em;
    height: 2em;
    width: 100%;
    // text-align: center;
    border: none;
    border-radius: $borderRadius;
    background: #d6d6d6;
    color: $textColor;
  }
  &.inputUsername:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  }
  &.inputPassword{
    padding: 0.5em;
    height: 2em;
    width: 100%;
    // text-align: center;
    border: none;
    border-radius: $borderRadius;
    background: #d6d6d6;
    color: $textColor;
  }
  &.inputPassword:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  }
  &.inputBirthday{
    padding: 0.5em;
    height: 2em;
    width: 100%;
    // text-align: center;
    border: none;
    border-radius: $borderRadius;
    background: #d6d6d6;
    color: $textColor;
  }
  &.inputBirthday:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}
