@import 'styles/theme';

.profile {
  &.container {
    // background: black;
    padding: 2em;
    width: 100%;
    height: 100%;
  }
  &.main{
    // background: purple;  
    width: 100%;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  &.minor{
    // background: yellow;
    transition: all .4s ease;
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;

    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  &.minor:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  }
}
