@import 'styles/theme';

.profile {
  &.statsTable{
    // background-color: aqua;
    font-size: large;
    padding: 1em;
    width: 40%;
    text-align: left;
    tr>:nth-child(1){
      font-weight: 900;
    }
    td{
      padding: 0.5em;
      text-shadow: $dropShadowGame;
    }
  }

  h3{
    margin: 0.5em;
    color: gray; 
    letter-spacing: 10px;
  }

  &.combinations{
    // background-color: brown;
    width: 100%;
    word-wrap: break-word;
    // margin-bottom: 3em;
    // padding: 0.5em;
    text-shadow: $dropShadowGame;
    &.list{
      padding: 1.2em;
    }
  }
}


.animatedH3 {
	-webkit-animation: animatedH3 1.5s ease-in-out infinite both;
	        animation: animatedH3 1.5s ease-in-out infinite both;
}
@-webkit-keyframes animatedH3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes animatedH3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

// .statsTable {
// 	-webkit-animation: statsTable 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// 	        animation: statsTable 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// }
// @-webkit-keyframes statsTable {
//   0% {
//     -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
//             transform: translateY(-600px) rotateX(-30deg) scale(0);
//     -webkit-transform-origin: 50% 100%;
//             transform-origin: 50% 100%;
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0) rotateX(0) scale(1);
//             transform: translateY(0) rotateX(0) scale(1);
//     -webkit-transform-origin: 50% 1400px;
//             transform-origin: 50% 1400px;
//     opacity: 1;
//   }
// }
// @keyframes statsTable {
//   0% {
//     -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
//             transform: translateY(-600px) rotateX(-30deg) scale(0);
//     -webkit-transform-origin: 50% 100%;
//             transform-origin: 50% 100%;
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateY(0) rotateX(0) scale(1);
//             transform: translateY(0) rotateX(0) scale(1);
//     -webkit-transform-origin: 50% 1400px;
//             transform-origin: 50% 1400px;
//     opacity: 1;
//   }
// }
