@import 'styles/theme';

.sidebar {
//   overflow: hidden;
//   padding: 10px 10px;

  &.container {
    cursor: pointer;
    background-color: #8585853b;
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    transition: all .4s ease;

    width: 15VW;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    // background-color: grey;
    text-align: left;

  }

  &.container:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  }


  &.lobby{
    border-radius: $borderRadius;
    padding: 1em;
  }
  &.profile{
    border-radius: $borderRadius;
    padding: 1em;
    margin-bottom: 0;
  }
  &.logout{
    border-radius: $borderRadius;
    padding: 1em;
  }


  // HOVERING OVER DIVs
  &.lobby:hover{
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease;
  }
  &.profile:hover{
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease;
  }
  &.logout:hover{
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease;
  }


  // LIST 
  &.buttonsList{
    padding-top: 0;
    margin-top: 0;
    text-align: left;
    list-style-position: inside;
    background-color: #83838338;
  }
  &.buttonsList > li{
    padding: 0.3em;
    width: 9VW;
    margin: 0.6em;
    border-radius: $borderRadius;
    // border-radius: 25px;
  } 
  &.buttonsList > li:hover{
    border-radius: $borderRadius;
    box-shadow: $dropShadowGame;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease;
  }
}