@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
  text-align: center;
}