@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import 'styles/theme';

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $fontDefault;
  // background-image: linear-gradient(135deg, $accent 10%, $accentDark 100%);
  background-color: white;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

h2 {
  text-align: center;
}

img {
  width :100px;
  height: auto; /*to preserve the aspect ratio of the image*/
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
